  
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border=0.5 >
    <tr><td>
    <%= f.label :name %><br></td>
   <td> <%= f.text_field :name %></td></tr>
   <tr><td>
    <%= f.label :seat %><br></td>
   <td> <%= f.text_field :seat_id_seq %></td>
  </tr>
  <tr><td>
    <%= f.label :address %><br></td>
  <td>  <%= f.text_area :address %></td>
  </tr>
  <tr><td>
    <%= f.label :price_paid %><br></td>
   <td> <%= f.text_field :price_paid %></td>
  </tr>
  <tr><td>
    <%= f.label :email_address %><br></td>
  <td>  <%= f.text_field :email_address %></td>
  </tr>
  <tr><td>
    <%= f.label :phone %><br></td>
  <td>  <%= f.text_field :phone %></td>
  </tr>
  <tr><td>
  <h2> <%= f.submit :SUBMIT %> </h2></td></tr>

  

