<center><h1><u>Editing Tickets</u></h1>
<%= form_for @ticket , url: ticket_path(@ticket.id) ,method: :patch do |f| %>
<%= render :partial =>'form' , locals: {:f => f} %>
<% end %>

<%= link_to 'Show', ticket_path(@ticket.id) %> |
<%= link_to 'Back', tickets_path %>
</center>