<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Seat #</th>
      <th>Address</th>
      <th>Price paid</th>
      <th>Email address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.seat_id_seq %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.price_paid %></td>
        <td><%= ticket.email_address %></td>
         <td><%= ticket.phone %></td>
        <td><%= link_to 'Show', ticket_path(ticket.id) %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket.id) %></td>
        <td><%= link_to 'Destroy', ticket_path(ticket.id), method: :delete, data: { confirm: 'Are you sure want to delete the ticket?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
