<p> <h1>Ticket was successfully created </h1></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Seat #:</strong>
  <%= @ticket.seat_id_seq %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ticket.address %>
</p>

<p>
  <strong>Price paid:</strong>
  <%= @ticket.price_paid %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @ticket.email_address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @ticket.phone %>
</p>
<p>
<%= link_to 'Edit', edit_ticket_path(@ticket.id) %> |
<%= link_to 'Back', tickets_path %>
</p>